body
{
	padding: 3px;
	margin: 2px;
	font:normal 12px Georgia, serif;
}

h1
{
	font:normal 24px Georgia, serif;
	text-align: center;
}
h3
{
	font:normal 16px Georgia, serif;
	text-align: center;
}

#canvas 
{
	background-image: url(../image/game_bg_rev2.jpg);
	/*border: solid 2px green;*/
	z-index: 1;
}

#debugCanvas 
{
	/*border:solid 1px red;*/
	display: none;
	left: 0;
    position: absolute;
    z-index: 2;
}

.common
{
	width: 1600px;
	height: 800px;
	margin: 30px;
}