body
{
	padding: 0px;
	margin: 0px;
}

#canvas 
{
	background-image: url(../image/game_bg.jpg);
	border: solid 2px green;
	z-index: 1;
}

#debugCanvas 
{
	border:solid 1px red;
	left: 0;
    position: absolute;
    z-index: 2;
}

.common
{
	width: 900px;
	height: 386px;
}